$bg: #4b8cbe;
$bg2: #f0f1f3;
$divBg: #ebeef1;

$fontColor: #fff;
$linkColor: #fff;

$errColor: red;

$divBorderColor: #f5f5f5;

$walletBtnBg: #4b8cbe;
$walletBtnColor: #fff;
$walletBtnOutline: rgba(250, 250, 250, 0.5);

$inputBorder: #ffffff;

$btnBg: #4b8cbe;
$btnBg2: #4b8cbe;
$btnFontColor: #ffffff;
$btnBoxShadow: rgb(250, 250, 250);

$btnBoxShadow-sushi: rgb(226, 214, 207);
$btnBoxShadow-sushi-2: rgb(247, 244, 242);

$titColor: #000;
$txtColor: #4b8cbe;
$notesColor: #9492c4;

$tableSeparationColor: #222946;
